
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

#proxima-peca {
    width: 100px; 
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peca {
    margin: 10px auto;
}

/* Estilos para as diferentes classes de peças (peca-I, peca-O, peca-L, etc.) */
.peca-I {
    background-image: url('./Assets/peca_linha.png');
}

.peca-O {
    background-image: url('./Assets/peca_quadrado.png'); 
}

.peca-L {
    background-image: url('./Assets/peca_l.png');
}
.peca-j {
    background-image: url('./Assets/peca_lazul.png');  
}

.peca-u {
    background-image: url('./Assets/peca_u.png'); 
}

.peca-unica {
    background-image: url('./Assets/peca_unica.png');
}
.peca-t {
    background-image: url('./Assets/peca_t.png'); 
}
body {
    background-color: #707070;
    font-family: 'DM Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5%;
}

.container_opcoes {
    display: flex;
}

.menu_voltar a {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.menu_editarprofile, .menu_ranking {
    background-color: black;
    border-radius: 10px;
    margin-left: 15px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
}


.container {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 2%;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: none;
}

.container_jogo_principal{
    background-color: #A9C869;
    border: 2px solid black;
    border-radius: 20px;
    width: 200%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between; /* Espaço entre os containers esquerdo e direito */
    align-items: center;
}

.container_ranking_pessoal {
    background-color: #A9C869;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
}

.container_ranking_pessoal p {
    text-align: center;
    font-size: 35px;
}

.container_ranking_pessoal hr {
    border-top: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table, th, td {
    padding: 10px;
    text-align: center;
}

.rankings_tabela {
    background-color: #819555;
    border: 2px solid black; 
    border-radius: 5px;
 } 

 .rankings_tabela img {
    width: 20px;
    height: 20px;
 }

.container_tabuleiro {
    width: 55%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
}

.container_tabuleiro img {
    width: 80%;
    height: 80%;
}

.container_estatisticas {
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.container_template {
    background-color: #819555;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10%;
    text-transform: uppercase;
    text-align: center;
    font-weight:bolder;
    font-size: 35px;
}

.container_template hr {
    border-top: 1px solid black;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.container_template img {
    background-color: #A6A6A6;
    border: 1.1px solid black;
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}
